<header class="header">
  <h1>Trivia App</h1>
</header>

<section class="card">
  <h2>Question {{current+1}} of {{questions.length}}</h2>
  <h1>{{questions[current].question}}</h1>

  <div>
    <div (click)="onSelect('a')" class="question question__1">{{questions[current].choices.a}}</div>
    <div (click)="onSelect('b')" class="question question__2">{{questions[current].choices.b}}</div>
  </div>


  <div>
    <div (click)="onSelect('c')" class="question question__3">{{questions[current].choices.c}}</div>
    <div (click)="onSelect('d')" class="question question__4">{{questions[current].choices.d}}</div>
  </div>

  <div class="answer-message" *ngIf="answerPicked && answerCorrect">Well Done! Correct!</div>
  <div class="answer-message" *ngIf="answerPicked && !answerCorrect">Wrong answer!</div>

  <button class="btn" *ngIf="answerPicked" (click)="goToNextQuestion()">NEXT</button>
</section>